<a href="https://colab.research.google.com/github/arzoo85/demo/blob/main/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
 
 
uploaded = files.upload()

Saving olympics.csv to olympics.csv

In [53]:
import pandas as pd
import io
 
df = pd.read_csv(io.BytesIO(uploaded['olympics.csv']))
print(df)

                                                0         1     2     3     4  \
0                                             NaN  № Summer  01 !  02 !  03 !
1                               Afghanistan (AFG)        13     0     0     2
2                                   Algeria (ALG)        12     5     2     8
3                                 Argentina (ARG)        23    18    24    28
4                                   Armenia (ARM)         5     1     2     9
..                                            ...       ...   ...   ...   ...
143  Independent Olympic Participants (IOP) [IOP]         1     0     1     2
144                            Zambia (ZAM) [ZAM]        12     0     1     1
145                          Zimbabwe (ZIM) [ZIM]        12     3     4     1
146                        Mixed team (ZZX) [ZZX]         3     8     5     4
147                                        Totals        27  4809  4775  5130

         5         6     7     8     9     10       11    12    13    14  \
0    Total  № Winter  01 !  02 !  03 !  Total  № Games  01 !  02 !  03 !
1        2         0     0     0     0      0       13     0     0     2
2       15         3     0     0     0      0       15     5     2     8
3       70        18     0     0     0      0       41    18    24    28
4       12         6     0     0     0      0       11     1     2     9
..     ...       ...   ...   ...   ...    ...      ...   ...   ...   ...
143      3         0     0     0     0      0        1     0     1     2
144      2         0     0     0     0      0       12     0     1     1
145      8         1     0     0     0      0       13     3     4     1
146     17         0     0     0     0      0        3     8     5     4
147  14714        22   959   958   948   2865       49  5768  5733  6078

                 15
0    Combined total
1                 2
2                15
3                70
4                12
..              ...
143               3
144               2
145               8
146              17
147           17579

[148 rows x 16 columns]

In [54]:
def read():
  return df

olympics = read()
olympics.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [56]:
olympics = olympics.rename(columns=olympics.iloc[0])
olympics

,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [57]:
olympics.drop(olympics.index[0], inplace=True)
olympics

,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
5,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [72]:
from numpy import NaN
olympics.rename(columns = {NaN :"Country",
                            "№ Summer" : "Summer_Olympics",
                           "01 !" : "Summer_Golds",
                           "02 !" : "Summer_Silvers",
                           "03 !" : "Summer_Bronzes",
                            "№ Winter" : "Winter_Olympics",
                             "01 !" : "Winter_Golds",
                           "02 !" : "Winter_Silvers",
                           "03 !" : "Winter_bronzes",
                           "№ Games" : "Total_Games",
                           "01 !" : "Total_Golds",
                           "02 !": "Total_Silvers",
                           "03 !": " Total_Bronzes",
                           "Combined total": "Combined total_medals"}, inplace = True)

In [73]:
olympics.columns

Index(['Country', 'Summer_Olympics', 'Total_Golds', 'Total_Silvers',
       ' Total_Bronzes', 'Total', 'Winter_Olympics', 'Total_Golds',
       'Total_Silvers', ' Total_Bronzes', 'Total', 'Total_Games',
       'Total_Golds', 'Total_Silvers', ' Total_Bronzes',
       'Combined total_medals'],
      dtype='object')

In [74]:
olympics

,Country,Summer_Olympics,Total_Golds,Total_Silvers,Total_Bronzes,Total,Winter_Olympics,Total_Golds,Total_Silvers,Total_Bronzes,Total,Total_Games,Total_Golds,Total_Silvers,Total_Bronzes,Combined total_medals
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
5,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579